<h1>{{title}}</h1>
{{>menu}}

<table>
  <tr>    
    <td>Name</td>
    <td>Slug</td>
    <td>Price</td>
    <td>Image</td>
    <td>Actions</td>
  </tr>
{{#products}}
  <tr>
    <td>{{name}}</td>
    <td>{{slug}}</td>
    <td>{{price}}</td>
    <td>{{image}}</td>
    <td>
      <a href="/products/{{_id}}/edit">Editar</a>
      <a href="/products/{{_id}}/delete">Excluir</a>
    </td>
  </tr>
{{/products}}
</table>
